/* ヘッダー */
header {
  color: #fff;
}
.header-logo {
  font-size: 45px;
  font-weight: 100;

  letter-spacing: 2em;
}

.header-list li {
  list-style: none;
  font-size: 15px;
  text-align: center;

}
li a{
  color:#fff;
  text-decoration:none;
}

/* 背景 */
body {
  font-family: 游ゴシック;
  background-color: #222933;
  margin: 20px;
}
/*メイン*/
.centerSlide {
  width: 80%;
  margin: 40px 110px;
}

/* フッター */
footer {
  height: 270px;
  color: #fff;
  text-align: center;
}
li {
  list-style-type: none;
}

li img {
  width: 25px;
}
